{% extends "base.html" %}

{% block content %}
	<h1>{{ title }}</h1>
	<form action method="post">
		<div class="row">
			<div class="col-sm-3">
				<div class="list-group">
					{% for _user in users %}
						{% if _user != current_user %}
							{% set unread_cnt = all_messages|selectattr("sender_id", "eq", _user.id)|list|length %}
							<a href={{ url_for('inbox_to', username=_user.username) }} class="list-group-item list-group-item-action {{ 'list-group-item-primary' if _user.username == user.username else '' }} d-flex justify-content-between align-items-center">
								<span><img class="avatar mr-2" src="{{ _user.get_avatar(24) }}" width=24 height=24>{{ _user.username }}</span>
								{% if unread_cnt %}
									<span class="badge badge-danger badge-pill">{{ 
										unread_cnt
									}}</span>
								{% endif %}
							</a>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="col-sm-9">
				<div class="card">
					<ul class="list-group list-group-flush">
						<li class="list-group-item"><i class="fa fa-envelope"></i> {{ user.username }}</li>
					</ul>
					{{ form.hidden_tag() }}
					<div class="card-body" style="background: #f7f7f7">
						{% for msg in messages %}
							<div class="bubble bubble-{{ 'sent' if msg.sender_id == current_user.id else 'received' }}">
								<div class="bubble-wrapper">
									<div class="bubble-body">{{msg.body}}</div>
									<span class="format-date">{{msg.timestamp}}</span>
								</div>
								<img class="avatar" src="{{ msg.author.get_avatar(32) }}" width=32 height=32>
							</div>
						{% endfor %}
						{% if not messages|list %}
						<div class="text-muted text-center">no message</div>
						{% endif %}
					</div>
					<div class="card-body">
						{{ form.receiver(type="hidden", value=user.username) }}
						<div class="input-group">
							{{ form.body(type="text", class="form-control", rows="1", autocomplete="off") }}
							<div class="input-group-append">{{ form.submit(class="btn btn-primary", value="Send") }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
